@import './_variables.less';

:global {
  .side-tree {
    height: 100%;
  }

  .side-tree-input {
    position: sticky;
    top: 0;
    z-index: 2;
    display: block;
    margin: 0 auto;
    padding: 10px 4px;
    background-color: #fbfbfb;
  }
}
