.normal {
}

.layout {
  height: 100vh;
  background-color: #ffffff;
  :global {
    .ant-layout {
      background-color: #ffffff;
      // min-height: 536px;
      // overflow: scroll;
    }
    .ant-layout-sider-trigger {
      border-top: 1px solid #ffffff;
      border-top: 1px solid rgba(255, 255, 255, 0.67);
    }
  }
}

.sider {
  // background: #fff;
}

.breadcrumbContainer {
  position: sticky;
  top: 0px;
  z-index: 1;
  :global {
    .ant-breadcrumb {
      padding: 12px 24px;
      background-color: #ececec;
    }
  }
}

.content {
  flex: 1;
  // display: flex;
  background: #fff;
  padding: 12px 24px;
  margin: 0;
  min-height: 600px;
  @media (max-width: 600px) {
    & {
      padding: 12px;
      padding-right: 32px;
    }
  }
}

.main {
  // padding: 0 8px;
  flex: 1 0 auto;
  margin-bottom: 32px;
}

.rightLayout {
  background-color: #ffffff;
  padding-bottom: 50px;
}
